@model List<Products.Models.Product>
@{
    ViewData["Title"] = "ProductInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Information about products</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>
