@{
    ViewData["Title"] = "SuperMarkets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Our Supermarkets</h1>
<h2> There are @ViewBag.Markets.Count Markets</h2>
<ul>
    @foreach (var market in ViewBag.Markets)
    {
        <li>@market</li>
    }
</ul>

